body{
    color: #274472;
}

/*------------------------Profile stuff ------------------------*/

.ProfileContent {
    background-color: #white;
    font-family: Montserrat, sans-serif;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    min-height: 80vh;
    padding-bottom: 20px;

}

h3 {
    margin: 10px 0;
}

h6 {
    margin: 5px 0;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    line-height: 21px;
}

.card-container {
    background-color: #5885AF;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
    color: #B3B8CD;
    padding-top: 30px;
    position: relative;
    width: 350px;
    max-width: 100%;
    text-align: center;

}

.card-container .round {
    border: 1px solid #03BFCB;
    border-radius: 50%;
    padding: 7px;
    width: 100px;
    height: 100px;
    margin-left: 8px;

}

button.primary {
    background-color: #274472;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    padding: 10px 25px;
    margin-bottom: 20px;
}

.skills {
    background-color: #274472;
    text-align: left;
    padding: 15px;
    margin-top: 30px;
}

.skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skills ul li {
    border: 1px solid #2D2747;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    margin: 0 7px 7px 0;
    padding: 7px;
}

/*----------------------------------------*/
.cardColor{
background-color: #274472;
}


.ProfileContent2 {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
    color: #B3B8CD;
    padding-top: 30px;
    position: relative;
    width: 2000px;
    height: 500px;
    max-width: 100%;
    text-align: center;
}

.content {
  background-color:rgba(0,0,0,.25);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box; 
  padding:10vmin;

}

.ApplyText{
 color:#274472;
}

/*----------Jquery message --------------*/
.content {
  background-color:rgba(0,0,0,.25);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:5vmin;
  position:relative;
  margin-top:25%;
  transform:translate(-50%, -50%);
}
.content h1{
    text-align: center;
    color: #fff;
    font-size: 15px;
}

